<div class="shadow-1-strong bg-white my-5" id="intro">
  <div class="bg-info text-white">
    <div class="cover bg-image">
      <img src="assets/img/header-background-sunshine.jpg" />
      <div
        class="mask"
        style="background-color: rgba(0, 0, 0, 0.7); backdrop-filter: blur(2px)"
      >
        <div class="text-center p-5">
          <div class="avatar p-1">
            <div class="img-box">
              <img
                class="img-thumbnail shadow-2-strong kamo"
                src="assets/img/zeki-kamo.jpg"
                width="160"
                height="160"
              />
              <img
                class="img-thumbnail shadow-2-strong zeki"
                src="assets/img/zeki-self.jpg"
                width="160"
                height="160"
              />
            </div>
          </div>
          <div class="header-bio mt-3">
            <div data-aos="zoom-in" data-aos-delay="0">
              <h2 class="h1">HAO-HSI CHANG</h2>
              <p>Front-end Developer and A Human</p>
            </div>
            <div
              class="header-social mb-3 d-print-none"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <nav role="navigation">
                <ul class="nav justify-content-center">
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      href="https://github.com/zekixfly"
                      title="Github"
                      ><fa-icon [icon]="['fab', 'github']"></fa-icon
                      ><span class="menu-title sr-only">Github</span></a
                    >
                  </li>
                </ul>
              </nav>
            </div>
            <div class="d-print-none">
              <a
                class="btn btn-outline-light btn-lg shadow-sm mt-1 me-3"
                href="assets/pdf/zeki-resume.pdf"
                data-aos="fade-right"
                data-aos-delay="700"
                >Download CV</a
              ><a
                class="btn btn-info btn-lg shadow-sm mt-1"
                href="#contact"
                data-aos="fade-left"
                data-aos-delay="700"
                >Hire Me</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
