<div class="shadow-1-strong bg-white my-5 p-5" id="education">
  <div class="education-section">
    <h2 class="h2 fw-light mb-4">Education</h2>
    <div class="timeline">
      <div
        class="timeline-card timeline-card-success"
        data-aos="fade-in"
        data-aos-delay="0"
      >
        <div class="timeline-head px-4 pt-3">
          <div class="h5">
            Masters in Department of Information Management
            <span class="text-muted h6">from Providence University</span>
          </div>
        </div>
        <div class="timeline-body px-4 pb-4">
          <div class="text-muted text-small mb-3">2011 - 2013</div>
          <div>
            "The primary mission to teach a child is to love them first" by
            Saint Mother Theodore Guerin, the founder of the Sisters of
            Providence of saint Mary-of-the Woods. Your gateway to the world.
          </div>
        </div>
      </div>
      <div
        class="timeline-card timeline-card-success"
        data-aos="fade-in"
        data-aos-delay="200"
      >
        <div class="timeline-head px-4 pt-3">
          <div class="h5">
            Bachelor in Department of Information Management
            <span class="text-muted h6">from Providence University</span>
          </div>
        </div>
        <div class="timeline-body px-4 pb-4">
          <div class="text-muted text-small mb-3">2008 - 2011</div>
          <div>
            "The primary mission to teach a child is to love them first" by
            Saint Mother Theodore Guerin, the founder of the Sisters of
            Providence of saint Mary-of-the Woods. Your gateway to the world.
          </div>
        </div>
      </div>
      <div
        class="timeline-card timeline-card-success"
        data-aos="fade-in"
        data-aos-delay="400"
      >
        <div class="timeline-head px-4 pt-3">
          <div class="h5">
            Bachelor in Department of Information Management
            <span class="text-muted h6">from Toko University</span>
          </div>
        </div>
        <div class="timeline-body px-4 pb-4">
          <div class="text-muted text-small mb-3">2006 - 2008</div>
          <div>
            The taller the rice plant grows, the lower it bends. We use the idea
            of gro wing rice as a metaphor for being humble and modest,
            concentrating on studies and professional techniques. The spirit of
            growing rice is exactly the spirit of TOKO University.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
