<app-zr-navigation-bar [title]="title"></app-zr-navigation-bar>
<div class="page-content">
  <div class="container">
    <div class="resume-container">
      <app-zr-resume-intro></app-zr-resume-intro>
      <app-zr-resume-about></app-zr-resume-about>
      <app-zr-resume-skills></app-zr-resume-skills>
      <app-zr-resume-experience></app-zr-resume-experience>
      <app-zr-resume-education></app-zr-resume-education>
      <app-zr-resume-portfolio></app-zr-resume-portfolio>
<!-- refereces -->
      <app-zr-resume-contact></app-zr-resume-contact>
    </div>
  </div>
</div>
<app-zr-copyright-zone></app-zr-copyright-zone>

