<div class="shadow-1-strong bg-white my-5 p-5" id="experience">
  <div class="work-experience-section">
    <h2 class="h2 fw-light mb-4">Work Experience</h2>
    <div class="timeline">
      <div
        class="timeline-card timeline-card-info"
        data-aos="fade-in"
        data-aos-delay="0"
      >
        <div class="timeline-head px-4 pt-3">
          <div class="h5">
            Frontend Developer
            <span class="text-muted h6">at GLSoft</span>
          </div>
        </div>
        <div class="timeline-body px-4 pb-4">
          <div class="text-muted text-small mb-3">
            Feb, 2023 - Present
          </div>
          <div>
            ． Project in charge: Watsons BeautyProfile, Digital Asset Management (DAM)<br/>
            ． On the Jira project management platform, develop or modify according to Task requirements.<br/>
            ． Use CSCC to manage CSS styles.<br/>
            ． Use Angular 2+, TypeScript and RxJS for development and interface with impex.<br/>
            ． Also developed with React & Hook, Redux Toolkit, Next.js...etc.<br/>
          </div>
        </div>
      </div>
      <div
        class="timeline-card timeline-card-info"
        data-aos="fade-in"
        data-aos-delay="200"
      >
        <div class="timeline-head px-4 pt-3">
          <div class="h5">
            Frontend Developer
            <span class="text-muted h6">at LEAD WIN</span>
          </div>
        </div>
        <div class="timeline-body px-4 pb-4">
          <div class="text-muted text-small mb-3">
            Aug, 2018 - Apr, 2019
          </div>
          <div>
            ． Handling projects: 5X branches of web pages, including PC and Mobile versions.<br/>
            ． On the Zoho project management platform, develop or modify according to Task requirements.<br/>
            ． Create new gaming websites according to customer needs.<br/>
            ． Use Angular 1 for development.<br/>
          </div>
        </div>
      </div>
      <div
        class="timeline-card timeline-card-info"
        data-aos="fade-in"
        data-aos-delay="400"
      >
        <div class="timeline-head px-4 pt-3">
          <div class="h5">
            Frontend Developer
            <span class="text-muted h6">at PIKO</span>
          </div>
        </div>
        <div class="timeline-body px-4 pb-4">
          <div class="text-muted text-small mb-3">
            Dec, 2015 - Jun, 2016
          </div>
          <div>
            ． Handling projects: PikoLive 3.0, ChuNew<br/>
            ． Redesign and develop a new version of "PikoLive 3.0", and complete the development of the old project "ChuNew".<br/>
            ． Use LESS to manage CSS styles.<br/>
            ． Use Font Awesome as website ICON, and use IconMoon for customized ICON design.<br/>
            ． Use the JavaScript suite ZeroClipboard.js to quickly copy and share the live URL.<br/>
            ． Use jQuery and peripheral packages such as masonry.js, sticky.js, slidizle.js, mmenu.js (mobile version) for development.<br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>