<div class="shadow-1-strong bg-white my-5 p-5 d-print-none" id="portfolio">
  <div class="portfolio-section">
    <h2 class="h2 fw-light mb-4">Portfolio</h2>
    <div class="row g-0">
      <div class="col-md-6">
        <a
          href="https://zekixfly.github.io/bookgo/build/#/home"
          target="_blank"
          ><img
            class="img-fluid"
            src="assets/img/achievement_img1.png"
            width="704"
            height="396"
        /></a>
      </div>
      <div
        class="col-md-6 d-flex align-items-center"
        data-aos="fade-left"
        data-aos-delay="100"
      >
        <div class="m-4 mt-md-2">
          <p class="text-teal text-small">
            HTML / CSS / JavaScript / React / Redux
          </p>
          <h3>React SPA Book Search Engine</h3>
          <p class="text-muted">
            The project is a React-based single-page application that mimics a
            small book search engine system from Books.com. Users can enter book
            keywords in the search box, and the system will return relevant
            results. What's more, users can add interested books to the tracking
            list, so as to track the prices and total amount of these books in
            the future.
          </p>
        </div>
      </div>
    </div>
    <div class="row g-0 portfolio-reverse">
      <div
        class="col-md-6 d-flex align-items-center"
        data-aos="fade-right"
        data-aos-delay="100"
      >
        <div class="m-4 mt-md-2 text-end">
          <p class="text-teal text-small">Frontend / HTML / CSS / JavaScript</p>
          <h3>JavaScript SPA Pixel Art Website</h3>
          <p class="text-muted">
            This project is my personal JavaScript work, a pixel art website.
            The website uses single-page application (SPA) technology and uses
            fetch to load template web pages. In the self-developed small
            framework ZekiCore.js function library, I wrote a function named
            bindEvent, which is used to bind functions that need to be monitored
            by addEventListener. In this case, it is used to monitor pushState
            and replaceState events. When the user clicks on the navigation
            link, I use pushState and replaceState to update the URL. At the
            same time, I dynamically load the corresponding template webpage by
            listening to the trigger events of pushState and replaceState.
            However, bindEvent is written on the prototype of the function, so
            in addition to listening to pushState and replaceState events, it
            can also be bound to all other functions and achieve the listening
            function.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <a href="https://zekixfly.github.io/PixelFantasy/" target="_blank"
          ><img
            class="img-fluid"
            src="assets/img/achievement_img2.png"
            width="704"
            height="396"
        /></a>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-md-6">
        <a href="https://zekixfly.github.io/The-F2E/" target="_blank"
          ><img
            class="img-fluid"
            src="assets/img/achievement_img3.png"
            width="704"
            height="396"
        /></a>
      </div>
      <div
        class="col-md-6 d-flex align-items-center"
        data-aos="fade-left"
        data-aos-delay="100"
      >
        <div class="m-4 mt-md-2">
          <p class="text-teal text-small">Frontend / HTML / CSS / JavaScript</p>
          <h3>The 1st The F2E - Front-End Practice Spiritual Time House</h3>
          <p class="text-muted">
            During these nine weeks of activities, I participated in "The F2E -
            Front-End Practice Spiritual Time House", and there are challenges
            with different themes every week. I used ZekiCore.js, a small
            framework I developed, and applied it to the weekly challenges and
            tried to complete various tasks.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
